<div
  class="overlay"
  id="editPostModal"
  tabindex="-1"
>
  <div class="modal">
    <div class="modal__content">
      <div class="modal__header">
        <h4 class="modal__title">Editing post</h4>
        <button type="button" class="close" onclick="closeModal('editPostModal')">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal__body">
        <form method="POST" action="" id="editPostForm" class="modal__form" enctype="multipart/form-data" onsubmit="handleSubmitEditPostForm(event)">
          {# Скрытый input для передачи post_id по запросу #}
          <input type="hidden" id="hidden-input-post-id" style="display: none; visibility: hidden" />
          <input type="hidden" id="hidden-input-image-url" name="edit_image_name" style="display: none; visibility: hidden" />

          <input type="file" id="file-edit" name="edit_image_file" class="image-input" accept="image/*" onchange="displayFileName('file-edit', 'edit-file-name', 'edit-delete-file')">
          <label for="file-edit" class="image-input-label">
            <img src="/static/uploads/upload_icon.png" class="image-block__icon" alt="">
            <div class="image-block">
              <label for="file-edit" class="image-block__label" id="edit-file-name">Upload post image</label>
            </div>
            <span class="delete-file" id="edit-delete-file" onclick="deleteFile(event, 'file-edit', 'edit-file-name', 'edit-delete-file')">
              &times;
            </span>
          </label>

          <input type="text" id="edit-title" name="title" placeholder="Title" class="modal__form__input" required>
          <textarea name="content" id="edit-content" placeholder="Enter text..." maxlength="500" class="modal__form__input" required></textarea>

          {% include 'components/tags_edit.html' %}
        </form>
      </div>
      <div class="modal__footer">
        <button type="button" class="btn btn-close" onclick="closeModal('editPostModal')">Close</button>
        <form method="POST" action="" id="deletePostForm" onsubmit="handleSubmitDeletePostForm(event)">
          <button type="submit" class="btn btn-delete">Delete post</button>
        </form>
        <button type="submit" form="editPostForm" class="btn btn-create">Edit</button>
      </div>
    </div>
  </div>
</div>