{% extends "base.html" %}
{% block title %}Аккаунт{% endblock %}
{% block content %}
  {{ super() }}
  <div class="account">
    <div class="account__left">
      <h3>Профиль</h3>
      <form class="account__form" method="POST">
        <div class="account__input-block">
          <label for="user" class="account__label">Имя</label>
          <input type="text" name="user" id="user" class="account__input"  value="{{ username }}" />
        </div>
        <div class="account__input-block">
          <label for="email" class="account__label">Email</label>
          <input type="email" name="email" id="email" class="account__input" value="{{ email }}" />
        </div>
        <div class="account__input-block">
          <label for="tel" class="account__label">Телефон</label>
          <input type="tel" name="tel" id="tel" class="account__input" value="{{ tel }}" />
        </div>
        <button class="account__button" type="submit">Upload changes</button>
      </form>
    </div>
    <div class="account__right">
        <img
          class="account__avatar"
          src="{{avatar}}"
          width="175"
          height="175"
          id="preview"
          alt="Avatar"
        />
        <form method="POST" enctype="multipart/form-data" class="account__image-form">
          <input
            class="account__image-input"
            type="file"
            name="photo"
            id="photo"
            accept="image/*"
            onchange="previewImage(event)"
          >
          <label for="photo" class="account__image-label" id="photo-label">Select file</label>
          <button type="submit" class="account__image-button" id="upload-button">Upload file</button>
        </form>
    </div>
  </div>
{% endblock %}