<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Flask App{% endblock %}</title>
    {% assets "base_styles" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
    <div class="layout">
      <header class="header">
        <div class="header__wrapper">
          <a href="{{ url_for('index') }}">
            <h1 class="header__logo">
              Flask App
            </h1>
          </a>
          <nav class="header__nav">
              <a class="header__link" href="{{ url_for('index') }}">Главная</a>
              <a class="header__link" href="{{ url_for('account') }}">Аккаунт</a>
          </nav>
          <div>
            <a href="{{ url_for('login') }}" class="header__button">
              {{ button_text | default('Sign in') }}
            </a>
          </div>
        </div>
      </header>
      <main class="main">
        <div class="main__wrapper">
          {% block content %}{% endblock %}
        </div>
      </main>
      <footer class="footer">
        <div class="footer__wrapper">
          <p>© The best site </p>
        </div>
      </footer>
    </div>
    <script src="../static/scripts/avatar.js"></script>
</body>
</html>