<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Flask App{% endblock %}</title>
    {% assets "base_styles" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
    <div class="layout">
      <header class="header">
        <div class="header__wrapper">
          <a href="{{ url_for(logo_link | default('index')) }}">
            <h1 class="header__logo">
              Flask App
            </h1>
          </a>
          {% if user_signin %}
            <nav class="header__nav">
              <a class="header__link" href="{{ url_for('main') }}">Main</a>
              <a class="header__link" href="{{ url_for('profile') }}">Profile</a>
            </nav>
            <div>
              <a href="{{ url_for('logout')}}" class="header__button">
                Logout
              </a>
            </div>
          {% endif %}
        </div>
      </header>
      <main class="main" style="justify-content: {% if logo_link %} flex-start {% else %} center {% endif %}">
        {% block content %}{% endblock %}
      </main>
      <footer class="footer">
        <div class="footer__wrapper">
          <p>© The best site </p>
        </div>
      </footer>
    </div>
    <script src="../static/scripts/index.js"></script>
</body>
</html>