{% extends "base.html" %}
{% block title %}Авторизация{% endblock %}
{% block content %}
    <div class="wrapper">
      <div class="login">
        <h1>Login</h1>
        <form method="POST" class="login__form" >
          <div class="login__input-block">
            <label for="email" class="login__label">Email</label>
            <input class="login__input" type="email" id="email" name="email" tabindex="1" required>
          </div>
          <div class="login__input-block">
            <label for="password" class="login__label">Password</label>
            <input class="login__input" type="password" id="password" name="password" tabindex="2" required>
            {% if errors['password'] %}
              <p style="color: red;">{{ errors['password'] }}</p>
            {% endif %}
          </div>
          <button type="submit" class="login__button" tabindex="3">Login</button>
        </form>
        {% if errors['login'] %}
          <p style="color: red; margin: -16px 0">{{ errors['login'] }}</p>
        {% endif %}
        <p class="login__redirect-register">
          Don't have an account?
          <a href="{{ url_for('register') }}" class="login__redirect-register__link">Register here</a>.
        </p>
      </div>
    </div>
{% endblock %}