{% extends "base.html" %}
{% block title %}Аккаунт{% endblock %}
{% block content %}
  {{ super() }}
  <div class="profile">
    <div class="profile__left">
      <h3>Profile</h3>
      <form class="profile__form" method="POST">
        <div class="profile__input-block">
          <label for="user" class="profile__label">Name</label>
          <input type="text" name="user" id="user" class="profile__input"  value="{{ username }}" />
        </div>
        <div class="profile__input-block">
          <label for="email" class="profile__label">Email</label>
          <input type="email" name="email" id="email" class="profile__input" value="{{ email }}" />
        </div>
        <div class="profile__input-block">
          <label for="tel" class="profile__label">Phone number</label>
          <input type="tel" name="tel" id="tel" class="profile__input" value="{{ tel }}" />
        </div>
        <button class="profile__button" type="submit">Upload changes</button>
      </form>
    </div>
    <div class="profile__right">
        <div class="profile__avatar__wrapper">
          <img
            class="profile__avatar"
            src="{{avatar}}"
            id="preview"
            alt="Avatar"
          />
        </div>
        <form method="POST" enctype="multipart/form-data" class="profile__image-form">
          <input
            class="profile__image-input"
            type="file"
            name="photo"
            id="photo"
            accept="image/*"
            onchange="previewImage(event)"
          >
          <label for="photo" class="profile__image-label" id="photo-label">Select file</label>
          <button type="submit" class="profile__image-button" id="upload-button">Upload file</button>
        </form>
    </div>
  </div>
{% endblock %}